@charset "utf-8";
.main-tu-jjfa {
  margin-top: 100px;
  padding-top: 70px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../images/cgal_img/jjfa/sol1.jpg');
}
.main-tu-jjfa .main-tu-jjfa-top h2 {
  text-shadow: 4px 4px 1px #020f7c;
  color: #fff;
  font-size: 40px;
}
.main-tu-jjfa .main-tu-jjfa-top h3 {
  color: #999;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.main-tu-jjfa .main-tu-jjfa-top h3::before {
  display: inline-block;
  content: " ";
  height: 1px;
  width: 100px;
  margin-right: 20px;
  opacity: 0.5;
  vertical-align: middle;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, #ffffff 100%);
}
.main-tu-jjfa .main-tu-jjfa-top h3::after {
  display: inline-block;
  content: " ";
  height: 1px;
  width: 100px;
  opacity: 0.5;
  margin-left: 20px;
  vertical-align: middle;
  background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0.1) 100%);
}
.main-tu-jjfa ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
  margin-bottom: 50px;
}
.main-tu-jjfa ul li {
  display: inline-block;
  margin: 0 3%;
  color: #fff;
  text-align: center;
}
.main-tu-jjfa ul li p {
  font-size: 50px;
  color: #fff;
  font-family: "sans-serif";
}
.main-tu-jjfa ul li span {
  color: #999;
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  .main-tu-jjfa .main-tu-jjfa-top h2 {
    font-size: 34px;
  }
  .main-tu-jjfa .main-tu-jjfa-top h3 {
    font-size: 20px;
  }
  .main-tu-jjfa .main-tu-jjfa-sz p {
    font-size: 40px;
  }
}
@media screen and (max-width: 780px) {
  .main-tu-jjfa .main-tu-jjfa-top h2 {
    font-size: 24px;
  }
  .main-tu-jjfa .main-tu-jjfa-top h3 {
    font-size: 14px;
  }
  .main-tu-jjfa .main-tu-jjfa-top h3::before,
  .main-tu-jjfa .main-tu-jjfa-top h3::after {
    width: 80px;
  }
  .main-tu-jjfa .main-tu-jjfa-sz p {
    font-size: 27px;
  }
}
.jjfa-fwly-da {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(240, 240, 240, 0.473);
}
.jjfa-fwly-da .jjfa-fwly-f {
  margin: 30px auto 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.jjfa-fwly-da .jjfa-fwly-f li {
  border: 1px solid #dfe4ee;
  position: relative;
  background-color: #fff;
  width: 24%;
  height: 400px;
  float: left;
  margin: 0.5%;
}
.jjfa-fwly-da .jjfa-fwly-f li .fwly-f-top {
  height: 120px;
  background-color: #edf0f6;
  padding-top: 22px;
}
.jjfa-fwly-da .jjfa-fwly-f li .fwly-f-top p {
  margin-top: 7px;
}
.jjfa-fwly-da .jjfa-fwly-f li a {
  display: block;
  color: #888;
  line-height: 30px;
  transition: 0.5s;
}
.jjfa-fwly-da .jjfa-fwly-f li a:hover {
  color: #333;
}
.jjfa-fwly-da .jjfa-fwly-f li .btn {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}
.jjfa-fwly-da .jjfa-fwly-f li .btn a {
  width: 136px;
  height: 36px;
  border: 1px solid #666;
  margin: 0 auto;
  line-height: 36px;
  transition: 0.5s;
}
.jjfa-fwly-da .jjfa-fwly-f li .btn a:hover {
  border: 1px solid #3367f1;
  background-color: #3367f1;
  color: #fff;
}
.jsfw-d {
  position: relative;
  height: 400px;
  color: #fff;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../images/cgal_img/jjfa/sol6.jpg');
}
.jsfw-d .jsfw-banner ul {
  list-style: none;
  position: relative;
  padding: 0;
  width: 90%;
  margin: 0 auto;
}
.jsfw-d .jsfw-banner ul li {
  position: absolute;
}
.jsfw-d .jsfw-banner ul li a {
  color: #fff;
}
.jsfw-x .nr {
  margin-top: 30px;
}
.jsfw-x .nr .nr-t {
  padding: 5%;
  text-align: center;
}
.jsfw-x .nr .nr-t img {
  width: 47px;
  height: 47px;
  margin: 0 auto 20px;
}
.jsfw-x .nr .nr-t span {
  font-size: 11px;
}
.jjfa-alzs {
  padding-top: 50px;
}
.jjfa-alzs .alzs-dh {
  margin-top: 50px;
  width: 100%;
  list-style: none;
  display: flex;
  padding: 0;
}
.jjfa-alzs .alzs-dh .jjfa-alzs-now {
  background-color: #006699;
  color: #fff;
}
.jjfa-alzs .alzs-dh .jjfa-alzs-now a {
  color: #fff;
}
.jjfa-alzs .alzs-dh li {
  height: 50px;
  flex: 1;
  margin: 0 2.5px;
  background-color: rgba(240, 240, 240, 0.5);
  transition: 0.5s;
}
.jjfa-alzs .alzs-dh li:hover {
  background-color: #006699;
  color: #fff;
}
.jjfa-alzs .alzs-dh li a {
  display: block;
  line-height: 50px;
  color: #666;
  height: 100%;
  text-align: center;
  transition: 0.5s;
}
.jjfa-alzs .alzs-dh li a:hover {
  color: #fff;
}
.jjfa-alzs .alzs-nr {
  padding: 1%;
}
.jjfa-alzs .alzs-nr .alzs-nr-li {
  border: 1px solid #eee;
}
.jjfa-alzs .alzs-nr .alzs-nr-li .alzs-nr-tu {
  position: relative;
  display: block;
  overflow: hidden;
}
.jjfa-alzs .alzs-nr .alzs-nr-li .alzs-nr-tu img {
  transition: 0.4s;
}
.jjfa-alzs .alzs-nr .alzs-nr-li .alzs-nr-tu:hover img {
  transform: scale(1.1);
}
.jjfa-alzs .alzs-nr .alzs-nr-li .alzs-nr-tu-hc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  color: #fff;
  opacity: 0;
  transition: 0.4s;
}
.jjfa-alzs .alzs-nr .alzs-nr-li .alzs-nr-tu-hc:hover {
  opacity: 1;
}
.jjfa-alzs .alzs-nr .alzs-nr-li .alzs-nr-tu-hc:hover div {
  width: 8px;
}
.jjfa-alzs .alzs-nr .alzs-nr-li .alzs-nr-tu-hc:hover div p {
  margin-left: -26px;
}
.jjfa-alzs .alzs-nr .alzs-nr-li .alzs-nr-tu-hc div {
  width: 60px;
  margin: 0 auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: 0.4s;
}
.jjfa-alzs .alzs-nr .alzs-nr-li .alzs-nr-tu-hc div p {
  margin: 0;
  line-height: 25px;
  min-width: 60px ;
  transition: 0.4s;
}
.jjfa-alzs .alzs-nr .alzs-nr-ms {
  padding: 10px 20px;
}
.jjfa-alzs .alzs-nr .alzs-nr-ms .span-ms {
  display: block;
  height: 28px;
  font-size: 12px;
  color: #666;
}
.jjfa-alzs .alzs-nr .alzs-nr-ms a {
  display: block;
  position: relative;
  font-weight: 600;
}
.jjfa-alzs .alzs-nr .alzs-nr-ms a:hover span:first-child {
  color: #333;
}
.jjfa-alzs .alzs-nr .alzs-nr-ms a:hover span:last-child {
  background-image: url("../../images/cgal_img/cgla/ico_08_h.png");
}
.jjfa-alzs .alzs-nr .alzs-nr-ms a span:first-child {
  color: #777;
  transition: 0.4s;
}
.jjfa-alzs .alzs-nr .alzs-nr-ms a span:last-child {
  float: right;
  width: 30px;
  height: 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center 5px;
  background-image: url("../../images/cgal_img/cgla/ico_08.png");
}
@media screen and (max-width: 767px) {
  .jjfa-alzs {
    padding-left: 20px;
    padding-right: 20px;
  }
  .alzs-nr-li {
    border: 0!important;
  }
  .alzs-nr-li .alzs-nr-tu {
    border-radius: 8px;
  }
  .alzs-nr-li .alzs-nr-ms {
    text-align: center;
    padding: 7px;
  }
  .alzs-nr-li .alzs-nr-ms h4 {
    font-size: 13px;
  }
  .alzs-nr-li .alzs-nr-ms span {
    font-size: 11px;
  }
}
.jjfa-ppbz-box {
  margin-top: 80px;
  background-color: #f7f8fa;
}
.jjfa-ppbz {
  margin-top: 40px;
}
.jjfa-ppbz .ppbz-chose {
  margin-top: 30px;
  list-style: none;
  overflow: hidden;
  padding: 0;
}
.jjfa-ppbz .ppbz-chose li {
  display: inline-block;
  margin: 0 45px;
  color: #666;
  font-size: 15px;
  transition: 0.4s;
}
.jjfa-ppbz .ppbz-chose li i {
  display: block;
  height: 3px;
  width: 0px;
  background-color: #3367f1;
  transition: 0.4s;
  margin: 0 auto;
}
.jjfa-ppbz .ppbz-chose li:hover {
  cursor: pointer;
  color: #3367f1;
}
.jjfa-ppbz .ppbz-chose li:hover i {
  width: 100%;
}
.ppbz-chose-active {
  color: #3367f1!important;
}
.ppbz-chose-active i {
  width: 100%!important;
  background-color: #3367f1;
}
@media screen and (max-width: 767px) {
  .jjfa-ppbz-box {
    margin-top: 0;
  }
}
.jjfa-ppbz-nr {
  position: relative;
  min-height: 500px;
}
.jjfa-ppbz-nr .ppbz-nr-content {
  position: absolute;
  left: 0;
  top: 0;
}
.jjfa-ppbz-nr .col-lg-6 {
  padding: 1.5%;
}
.jjfa-ppbz-nr .col-lg-6 .ppbz-nr-f {
  background-color: #fff;
  height: 210px;
  text-align: left;
  padding: 40px;
  transition: 0.5s;
}
.jjfa-ppbz-nr .col-lg-6 .ppbz-nr-f:hover {
  transform: translateY(-10px);
}
.jjfa-ppbz-nr .col-lg-6 .ppbz-nr-f h2 {
  font-size: 24px;
  line-height: 30px;
}
@media screen and (max-width: 767px) {
  .jjfa-ppbz-nr {
    min-height: 950px;
  }
  .ppbz-chose li {
    margin: 0 5px!important;
  }
  .ppbz-chose li p {
    font-size: 12px;
  }
}
.jjfa-fwlc-box {
  padding-top: 50px;
  padding-bottom: 60px;
  background-image: url("../../images/cgal_img/jjfa/sol34.jpg");
  background-size: cover;
}
.jjfa-fwlc-box .jjfa-fwlc {
  color: #fff;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b {
  width: 11.1%;
  transition: 0.4s;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .fwlc-nr-i {
  width: 68px;
  height: 150px;
  line-height: 2;
  color: #8f8f95;
  text-align: center;
  margin: 0 auto 0;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .fwlc-nr-i p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 30px;
  margin: 17px 0 20px;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .fwlc-nr-i .dot-light {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #25428e;
  margin: 0 auto;
  border: 1px solid #4763ab;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .cir1:after {
  background: url(../../images/cgal_img/jjfa/sol16.png) no-repeat;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .cir2:after {
  background: url(../../images/cgal_img/jjfa/sol17.png) no-repeat;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .cir3:after {
  background: url(../../images/cgal_img/jjfa/sol18.png) no-repeat;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .cir4:after {
  background: url(../../images/cgal_img/jjfa/sol19.png) no-repeat;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .cir5:after {
  background: url(../../images/cgal_img/jjfa/sol20.png) no-repeat;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .cir6:after {
  background: url(../../images/cgal_img/jjfa/sol21.png) no-repeat;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .cir7:after {
  background: url(../../images/cgal_img/jjfa/sol22.png) no-repeat;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .cir8:after {
  background: url(../../images/cgal_img/jjfa/sol23.png) no-repeat;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .cir9:after {
  background: url(../../images/cgal_img/jjfa/sol24.png) no-repeat;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .cir {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
  background: #25428e;
}
.jjfa-fwlc-box .jjfa-fwlc .jjfa-fwlc-nr .jjfa-fnr-b .cir:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 68px;
  height: 68px;
  opacity: 0.6;
}
.fwlc-light .cir {
  transition: 0.4s;
  background-color: #3367f1!important;
}
.fwlc-light p {
  color: #fff!important;
  transition: 0.4s;
}
.fwlc-light .dot-light:after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  border-radius: 50%;
  background-color: #43adff;
  animation: dot-dh 1s infinite;
}
@keyframes dot-dh {
  50% {
    transform: scale(0.65);
  }
  100% {
    transform: scale(1);
  }
}
.jjfa-hyzx-box {
  padding-top: 50px;
}
.jjfa-hyzx-box .jjfa-hyzx h2 {
  margin-bottom: 20px;
}
.jjfa-hyzx-box .jjfa-hyzx .mian-p {
  margin-bottom: 40px;
}
.jjfa-hyzx-box .jjfa-hyzx .jjfa-hyzx-btn {
  display: block;
  margin: 50px auto 0;
  color: #758198;
  font-size: 14px;
  width: 136px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #758198;
  transition: 0.6s;
}
.jjfa-hyzx-box .jjfa-hyzx .jjfa-hyzx-btn:hover {
  background: #3367f1;
  border: 1px solid #3367f1;
  color: #fff;
}
.jjfa-hyzx-box .jjfa-hyzx-nr .col-lg-4 {
  padding-right: 1.5%;
}
.jjfa-hyzx-box .jjfa-hyzx-nr .col-lg-4 a {
  display: block;
  padding: 5%;
  border: 1px solid #ececec;
}
.jjfa-hyzx-box .jjfa-hyzx-nr .col-lg-4 a h3 {
  font-size: 16px;
  margin: 8px 0 20px;
}
.jjfa-hyzx-box .jjfa-hyzx-nr .col-lg-4 a p {
  font-size: 14px;
  color: #666;
}
.jjfa-hyzx-box .jjfa-hyzx-nr .col-lg-4 a .jjfa-hyzx-jt {
  margin-top: 30px;
  width: 24px;
  height: 10px;
  background-image: url("../../images/cgal_img/jjfa/ico_08.png");
  background-repeat: no-repeat;
  background-position: center ;
}
@media screen and (max-width: 767px) {
  .jjfa-hyzx-box .jjfa-hyzx .jjfa-hyzx-nr {
    margin-top: 15px;
    border-top: 1px solid #ececec;
  }
  .jjfa-hyzx-box .jjfa-hyzx .jjfa-hyzx-nr .col-lg-4 a {
    border: none;
    border-bottom: 1px solid #ececec;
  }
}
.jjfa-hyzx-ljzx {
  padding-top: 20px ;
  padding-bottom: 20px;
  background-image: url("../../images/cgal_img/jjfa/msol11.png");
  background-size: cover;
}
.jjfa-hyzx-ljzx p {
  font-size: 22px;
  color: #fff;
}
.jjfa-hyzx-ljzx h2 {
  color: #fff;
}
.jjfa-hyzx-ljzx a {
  display: block;
  width: 136px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #fff;
  font-size: 16px;
  color: #fff;
  margin: 15px auto 5px;
}
.jjfa-fwly-xp .fwly-xp-nr {
  border: 1px solid #E1E6ED;
  margin-bottom: 2%;
}
.jjfa-fwly-xp .fwly-xp-nr .fwly-xp-nr-top {
  position: relative;
  padding: 20px;
}
.jjfa-fwly-xp .fwly-xp-nr .fwly-xp-nr-top span {
  display: inline-block;
  padding-left: 50px;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px 30px;
}
.jjfa-fwly-xp .fwly-xp-nr .fwly-xp-nr-top:after {
  content: " ";
  position: absolute;
  width: 17px;
  height: 9px;
  right: 30px;
  top: 45%;
  background-image: url("../../images/cgal_img/jjfa/msol5.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.jjfa-fwly-xp .fwly-xp-nr .fwly-xp-nr-top .jjfa-xp-t1 {
  background-image: url("../../images/cgal_img/jjfa/sol2.png");
}
.jjfa-fwly-xp .fwly-xp-nr .fwly-xp-nr-top .jjfa-xp-t2 {
  background-image: url("../../images/cgal_img/jjfa/sol3.png");
}
.jjfa-fwly-xp .fwly-xp-nr .fwly-xp-nr-top .jjfa-xp-t3 {
  background-image: url("../../images/cgal_img/jjfa/sol4.png");
}
.jjfa-fwly-xp .fwly-xp-nr .fwly-xp-nr-top .jjfa-xp-t4 {
  background-image: url("../../images/cgal_img/jjfa/sol5.png");
}
.jjfa-fwly-xp .fwly-xp-nr .fwly-xp-nr-more {
  display: none;
  padding: 15px;
  font-size: 12px;
  color: #999;
}
.fwly-xp-active .fwly-xp-nr-top:after {
  background-image: url("../../images/cgal_img/jjfa/msol6.png") !important;
}
.fwly-xp-active .fwly-xp-nr-top {
  background-image: linear-gradient(225deg, #6CA5F9 0%, #3A6CF1 100%);
}
.fwly-xp-active .jjfa-xp-t1 {
  background-image: url("../../images/cgal_img/jjfa/msol10_1.png") !important;
}
.fwly-xp-active .jjfa-xp-t2 {
  background-image: url("../../images/cgal_img/jjfa/msol8_1.png") !important;
}
.fwly-xp-active .jjfa-xp-t3 {
  background-image: url("../../images/cgal_img/jjfa/msol7_1.png") !important;
}
.fwly-xp-active .jjfa-xp-t4 {
  background-image: url("../../images/cgal_img/jjfa/msol9_1.png") !important;
}
/*通用类名样式*/
@media screen and (max-width: 767px) {
  h2 {
    font-size: 21px!important;
  }
}
a {
  text-decoration: none!important;
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #333;
}
.ani-up {
  opacity: 0;
}
.ani-right {
  opacity: 0;
}
