@charset "utf-8";
html,
body {
    background-color: #eaeaea!important;
    
    margin: 0;
}
html{
    padding-top:60px;
}

.ssgl-max-tu {
    
    background-position: -200px center;
    background-repeat: no-repeat;
    background-image: url("../../images/cgal_img/ssgl/14842057176977rrjib.jpg");
    overflow: hidden;
    .ssgl-tu-con{
        margin-top:100px;
        margin-bottom: 100px;
        padding-bottom: 100px;
        position: relative;
        color:#fff;
        h2{
            font-size: 36px;
        }
       .ssgl-tu-i{
           margin:20px 0 30px;
           height: 4px;
           width: 35px;
           background-color: #fff;
       }
       .ssgl-tu-p{
           font-size: 30px;
       }
        .ssgl-cir{
            width: 43px;
            height: 43px;
            position: absolute;
            left:0;
            bottom:0;
            border-radius: 50%;
            border:1px solid #eee;
            &:hover{
                cursor: pointer;
            }
            img{
                position: absolute;
                left: 0;
                right: 0;
                margin:0 auto;
                top:13px;
                animation: jtdh 1.5s infinite;
            }
        }

    }
}

//箭头动画
@keyframes jtdh{
    0%{
       top:-2px;
       opacity: 0;
    }
    35%{
        top:13px;
        opacity: 1;
    }
    65%{
        top:13px;
        opacity: 1;
    }
    100%{
        top:28px;
        opacity: 0;
    }

}

//搜索结果部分

.ssgl-ssjg{
    background-color: #fff;
    padding:40px 20px 50px;
    position: relative;
    .ssgl-bt{
        font-size: 26px;
        padding-left: 50px;
    }
    .ssgl-share{
        position: absolute;
        top:20px;
        right: 20px; 
    }
    .ssgl-zwxx{
        margin-top:50px;
        font-size: 12px;
        color:#888;
        text-align: center;
    }
}


// 主体内容部分
.main-zhutineirong{
    //页面内容跳转导航
    margin-top: 40px;
//小内容块
   .many-xfk{
        padding:0;
        list-style: none;
        width: 100%;
        margin-top:50px;
        display: flex;
        
        justify-content: space-around;  
        flex-wrap: wrap;
        li{
            width: 30%;
            margin-bottom:25px;
        }
    }
}

@media screen and (min-width:770px) {
    .main-zhutineirong .many-xfk>li{
        width: 30%;
    }
}

@media screen and (min-width:480px) and (max-width:770px) {
    .main-zhutineirong .many-xfk>li{
        width: 40%;
    }
}
@media screen and (max-width:480px) {
    .main-zhutineirong .many-xfk>li{
        width: 93.5%;
    }
}

// 内容分块的图片部分
   .nr-tu{
       display: block;
       text-decoration: none;
       width: 100%;
       overflow: hidden;
       position: relative;
       .img-responsive{
           transition: 0.5s;
       }
       &:hover{
           img{
               transform: scale(1.1);
           }
       }

       //隐藏的黑色图层
       &>div{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background-color:rgba(0,0,0,0.4);
        opacity: 0;
        transition: 0.3s;
            // 文字的盒子
            div{
                width: 100%;
                
                margin:28% auto;
                // transition: 0.5s;
                // border-top:1px solid rgba(255,255,255,0.5);
                // border-bottom: 1px solid rgba(255,255,255,0.5);
                &::before,&::after{
                    content:" ";
                    transition: 0.5s;
                    width: 30%;
                    margin:0 auto;
                    display: block;
                    height: 1px;
                    background-color: #fff; 
                   
                }
                p{
                    text-align: center;
                    color:#fff;
                    font-size: 16px;
                    margin:0;
                    line-height: 24px;
                }
            }
        &:hover{
            opacity: 1;
            div{
                &::before,&::after{
                   transform: scale(0.1);
                }
               
            }
        }
    }

}

.ssgl-bbbb{
    padding:0!important;
}