@charset "utf-8";
body {
  padding-top: 100px;
}
.animated {
  animation-duration: 0.3s;
}
.max-tu {
  background-color: #333;
  background-image: url("../../../images/cgal_img/cgla/ban_website1.jpg");
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 105px;
  padding-bottom: 90px;
  position: relative;
}
.max-tu .shuzi {
  max-width: 900px;
  margin: 0 auto;
  opacity: 0;
}
.max-tu .shuzi span {
  font-family: 'Times New Roman', Times, serif;
}
.max-tu .biaoti h1,
.max-tu .biaoti h2 {
  opacity: 0;
}
@media screen and (max-width: 480px) {
  .max-tu {
    padding-bottom: 140px;
  }
}
.max-news {
  line-height: 50px;
  color: #fff;
  top: -50px;
  height: 50px;
  position: relative;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.25);
  overflow: hidden;
}
.max-news .col-lg-8 a {
  width: 90%;
  display: block;
  text-decoration: none;
  color: #fff;
}
.max-news .col-lg-8 a div {
  list-style-type: none;
}
.max-news .col-lg-8 a div span {
  margin-left: 15px;
  color: #999;
}
.max-news .max-zixun .fg {
  display: inline-block;
  height: 20px;
  top: 4px;
  left: 20%;
  border-right: 1px solid #fff;
  position: relative;
}
.max-news .qiehuan img {
  padding: 10px;
}
.max-news .qiehuan img:hover {
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .max-tu .biaoti h1 {
    font-size: 30px;
  }
  .max-tu .biaoti h2 {
    font-size: 18px;
  }
  .max-tu .shuzi {
    margin-top: 60px;
  }
  .max-tu .shuzi .shuzi-mid {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
  .max-tu .shuzi p {
    font-size: 13px;
  }
  .max-tu .shuzi span {
    font-size: 30px;
  }
}
@media screen and (max-width: 780px) and (min-width: 480px) {
  .max-tu .biaoti h1 {
    font-size: 44px;
    line-height: 60px;
  }
  .max-tu .biaoti h2 {
    font-size: 26px;
  }
  .max-tu .shuzi {
    margin-top: 60px;
  }
  .max-tu .shuzi .shuzi-mid {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
  .max-tu .shuzi p {
    font-size: 18px;
  }
  .max-tu .shuzi span {
    font-size: 55px;
  }
}
@media screen and (min-width: 780px) and (max-width: 1300px) {
  .max-tu .biaoti h1 {
    font-size: 60px;
  }
  .max-tu .biaoti h2 {
    font-size: 36px;
  }
  .max-tu .shuzi {
    margin-top: 60px;
  }
  .max-tu .shuzi .shuzi-mid {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
  .max-tu .shuzi p {
    font-size: 23px;
  }
  .max-tu .shuzi span {
    font-size: 60px;
  }
}
@media screen and (min-width: 1300px) {
  .max-tu .biaoti h1 {
    font-size: 78px;
    line-height: 94px;
  }
  .max-tu .biaoti h2 {
    font-size: 48px;
  }
  .max-tu .shuzi {
    margin-top: 60px;
  }
  .max-tu .shuzi p {
    font-size: 25px;
  }
  .max-tu .shuzi span {
    font-size: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .max-zixun .fg {
    display: none;
  }
}
