@charset "utf-8";
html {
  padding-top: 100px;
}
.animated {
  animation-duration: 0.3s;
}
header {
  background-color: #fff;
  padding: 12px 0;
  font-size: 12px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
header .navbar {
  border: none;
  background-color: #fff;
  margin: 0;
}
header .navbar .container {
  width: 89%;
  margin: 0 auto;
  padding: 0;
}
header .navbar .container .navbar-header {
  margin: 0;
}
header .navbar .container .navbar-header button {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 99;
  border: none;
  height: 36px;
  width: 38px;
  margin: 0;
}
header .navbar .container .navbar-header button .icon-bar:nth-of-type(2) {
  width: 11px;
}
header .navbar .container .navbar-header button .icon-bar:nth-of-type(3) {
  width: 22px;
}
header .navbar .container .navbar-header button .icon-bar:nth-of-type(4) {
  width: 16px;
}
header .navbar .container .header-ul {
  display: none;
}
header .navbar .logo {
  height: 34px;
}
.phone {
  position: fixed;
  top: 0;
  left: 100% ;
  width: 66%;
  z-index: 99;
  background-color: #fff;
}
.phone .header {
  background-color: #000;
  color: #fff;
  height: 60px;
}
.phone .header a {
  line-height: 60px;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  margin-left: 8.2%;
}
.phone .header .clo {
  float: right;
  width: 17px;
  height: 17px;
  background-image: url("../../../images/header/ico_37.png");
  margin: 22px 7.8% 0 0;
}
.phone ul {
  list-style: none;
  padding: 0;
  background-color: #fff;
}
.phone ul li {
  padding: 0 7.8% 0 8.2%;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #eee;
  color: #777;
  font-size: 16px;
}
.phone ul li > a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #777;
}
.phone ul li span {
  background-image: url("../../../images/header/ico_38.png");
  background-repeat: no-repeat;
  float: right;
  width: 8px;
  height: 12px;
  margin: 26px 0 0;
}
.phone ul li ul {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 100%;
  background-color: #fff;
  z-index: 5;
}
.phone ul li ul .fh {
  background-color: #000;
}
.phone ul li ul .fh a {
  color: #fff;
  font-size: 18px;
}
.phone ul li ul .fh a span {
  float: left;
  margin: 23px  18px 0 0;
  background-image: url("../../../images/header/ico_42.png");
  background-position: 0 center;
  background-repeat: no-repeat;
}
.phone ul li ul .li-empty {
  border: none;
  height: 278px;
}
.phone ul li ul .footer {
  margin-top: 14px;
  border: none;
  background-color: #fff;
}
.phone .footer {
  width: 100%;
  overflow: hidden;
  margin: 30px 0 0 0 ;
  padding: 0 7.8% 0 8.2%;
  background-color: #fff;
}
.phone .footer a {
  margin-right: 20px;
  float: left;
  width: 36px;
  height: 50px;
  background-image: url("../../../images/header/ico_01.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.phone .footer a:nth-of-type(2) {
  background-image: url("../../../images/header/ico_02.png");
}
.phone .footer a:nth-of-type(3) {
  background-image: url("../../../images/header/ico_03.png");
}
@media screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1050px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
  }
  header nav .container .navbar-header {
    width: 100%;
  }
  header nav .container .navbar-header button {
    display: block;
    float: right;
  }
  header nav .container .navbar-header button .icon-bar:nth-of-type(2) {
    width: 11px;
  }
  header nav .container .navbar-header button .icon-bar:nth-of-type(3) {
    width: 22px;
  }
  header nav .container .navbar-header button .icon-bar:nth-of-type(4) {
    width: 16px;
  }
  header nav .container .logo {
    height: 51px;
  }
  header nav .container .header-ul {
    display: none;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1440px) {
  header {
    position: fixed;
    z-index: 99;
    height: 100px;
    width: 100%;
    padding: 24px 0 0;
    top: 0;
    left: 0;
    font-size: 14px;
  }
  header .navbar {
    border: none;
    background-color: #fff;
  }
  header .navbar .container {
    width: 89%;
    margin: 0 auto;
    padding: 0;
  }
  header .navbar .container .navbar-header {
    width: 200px;
  }
  header .navbar .container .navbar-header button {
    display: none;
  }
  header .navbar .container .header-ul {
    display: block;
  }
  header .navbar .gl {
    margin: 4px 0 0 28px;
  }
  header .navbar .sub-li {
    padding: 0 0 32px 26px;
    height: 69px;
    line-height: 40px;
  }
  header .navbar .sub-li:hover .rank {
    display: block;
    height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  header .navbar .sub-li a {
    padding: 0;
    line-height: 40px;
  }
  header .navbar .sub-li .rank {
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: #fff;
    top: 100px;
    left: 0;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border: 0;
    height: 0;
    transition: height 0.5s ease ;
  }
  header .navbar .sub-li .rank ul {
    list-style-type: none;
    float: right;
    height: 47px;
    padding-top: 3px;
    margin-right: 100px;
    width: 736px;
  }
  header .navbar .sub-li .rank ul li {
    float: left;
    margin-right: 30px;
  }
  header .navbar .sub-li .rank ul li a {
    line-height: 47px;
    display: inline-block;
    font-size: 14px;
    position: relative;
    color: #777;
    text-decoration: none;
    transition: color 0.5s ease ;
  }
  header .navbar .sub-li .rank ul li a i {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transition: all 0.5s ease ;
    border-bottom: 5px solid #000;
  }
  header .navbar .sub-li .rank ul li a:hover {
    color: #000;
  }
  header .navbar .sub-li .rank ul li a:hover i {
    width: 100%;
    left: 0;
  }
  header .navbar .sub-li .rank .short {
    width: 690px;
  }
  header .navbar .sub-li .rank .lang li {
    margin-right: 60px;
  }
  header .navbar .tl {
    margin: 7px 0 0;
  }
  header .navbar .tl > .line {
    margin: 14px 0 0 0;
  }
  header .navbar .line {
    border-right: 1px solid #000;
    height: 11px;
    padding-left: 26px;
    display: inline-block;
    vertical-align: middle;
  }
  header .navbar .tab-li {
    padding-left: 15px;
  }
  header .navbar .tab-li a {
    width: 22px;
    height: 40px;
    display: inline-block;
  }
  header .navbar .tab-li a img {
    margin: 50% 0 0;
    transform: translateY(-50%);
  }
  header .navbar .spc-li {
    line-height: 40px;
  }
}
@media screen and (min-width: 1440px) {
  header {
    position: fixed;
    z-index: 99;
    height: 100px;
    width: 100%;
    padding: 24px 0 0;
    top: 0;
    left: 0;
    font-size: 14px;
  }
  header .navbar {
    border: none;
    background-color: #fff;
  }
  header .navbar .container {
    width: 79%;
    margin: 0 auto;
    padding: 0;
  }
  header .navbar .container .navbar-header {
    width: 200px;
  }
  header .navbar .container .navbar-header button {
    display: none;
  }
  header .navbar .container .header-ul {
    display: block;
    overflow: hidden;
  }
  header .navbar .gl {
    margin: 4px 0 0 28px;
  }
  header .navbar .sub-li {
    padding: 0 0 32px 26px;
    height: 69px;
    line-height: 40px;
  }
  header .navbar .sub-li:hover .rank {
    display: block;
    height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  header .navbar .sub-li a {
    padding: 0;
    line-height: 40px;
  }
  header .navbar .sub-li .rank {
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: #fff;
    top: 100px;
    left: 0;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border: 0;
    height: 0;
    transition: height 0.5s ease ;
  }
  header .navbar .sub-li .rank ul {
    list-style-type: none;
    float: right;
    height: 47px;
    padding-top: 3px;
    margin-right: 100px;
    width: 736px;
  }
  header .navbar .sub-li .rank ul li {
    float: left;
    margin-right: 30px;
  }
  header .navbar .sub-li .rank ul li a {
    line-height: 47px;
    display: inline-block;
    font-size: 14px;
    position: relative;
    color: #777;
    text-decoration: none;
    transition: color 0.5s ease ;
  }
  header .navbar .sub-li .rank ul li a i {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transition: all 0.5s ease ;
    border-bottom: 5px solid #000;
  }
  header .navbar .sub-li .rank ul li a:hover {
    color: #000;
  }
  header .navbar .sub-li .rank ul li a:hover i {
    width: 100%;
    left: 0;
  }
  header .navbar .sub-li .rank .short {
    width: 690px;
  }
  header .navbar .sub-li .rank .lang li {
    margin-right: 60px;
  }
  header .navbar .tl {
    margin: 7px 0 0;
  }
  header .navbar .tl > .line {
    margin: 14px 0 0 0;
  }
  header .navbar .line {
    border-right: 1px solid #000;
    height: 11px;
    padding-left: 26px;
    display: inline-block;
    vertical-align: middle;
  }
  header .navbar .tab-li {
    padding-left: 15px;
  }
  header .navbar .tab-li a {
    padding: 10px 0;
    width: 22px;
    height: 40px;
    display: inline-block;
  }
  header .navbar .spc-li {
    line-height: 40px;
  }
}
.max-tu {
  background-color: #333;
  background-image: url("../../../images/cgal_img/cgla/ban_website1.jpg");
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 105px;
  padding-bottom: 90px;
  position: relative;
}
.max-tu .shuzi {
  max-width: 900px;
  margin: 0 auto;
  opacity: 0;
}
.max-tu .shuzi span {
  font-family: 'Times New Roman', Times, serif;
}
.max-tu .biaoti h1,
.max-tu .biaoti h2 {
  opacity: 0;
}
@media screen and (max-width: 480px) {
  .max-tu {
    padding-bottom: 140px;
  }
}
.max-news {
  line-height: 50px;
  color: #fff;
  margin-top: -50px;
  height: 50px;
  position: relative;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.25);
  overflow: hidden;
}
.max-news .col-lg-8 a {
  width: 90%;
  display: block;
  text-decoration: none;
  color: #fff;
}
.max-news .col-lg-8 a div {
  list-style-type: none;
}
.max-news .col-lg-8 a div span {
  margin-left: 15px;
  color: #999;
}
.max-news .max-zixun .fg {
  display: inline-block;
  height: 20px;
  top: 4px;
  left: 20%;
  border-right: 1px solid #fff;
  position: relative;
}
.max-news .qiehuan img {
  padding: 10px;
}
.max-news .qiehuan img:hover {
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .max-tu .biaoti h1 {
    font-size: 30px;
  }
  .max-tu .biaoti h2 {
    font-size: 18px;
  }
  .max-tu .shuzi {
    margin-top: 60px;
  }
  .max-tu .shuzi .shuzi-mid {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
  .max-tu .shuzi p {
    font-size: 13px;
  }
  .max-tu .shuzi span {
    font-size: 30px;
  }
}
@media screen and (max-width: 780px) and (min-width: 480px) {
  .max-tu .biaoti h1 {
    font-size: 44px;
    line-height: 60px;
  }
  .max-tu .biaoti h2 {
    font-size: 26px;
  }
  .max-tu .shuzi {
    margin-top: 60px;
  }
  .max-tu .shuzi .shuzi-mid {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
  .max-tu .shuzi p {
    font-size: 18px;
  }
  .max-tu .shuzi span {
    font-size: 55px;
  }
}
@media screen and (min-width: 780px) and (max-width: 1300px) {
  .max-tu .biaoti h1 {
    font-size: 60px;
  }
  .max-tu .biaoti h2 {
    font-size: 36px;
  }
  .max-tu .shuzi {
    margin-top: 60px;
  }
  .max-tu .shuzi .shuzi-mid {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
  }
  .max-tu .shuzi p {
    font-size: 23px;
  }
  .max-tu .shuzi span {
    font-size: 60px;
  }
}
@media screen and (min-width: 1300px) {
  .max-tu .biaoti h1 {
    font-size: 78px;
    line-height: 94px;
  }
  .max-tu .biaoti h2 {
    font-size: 48px;
  }
  .max-tu .shuzi {
    margin-top: 60px;
  }
  .max-tu .shuzi p {
    font-size: 25px;
  }
  .max-tu .shuzi span {
    font-size: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .max-zixun .fg {
    display: none;
  }
}
.cgal-bg-f img {
  width: 101%;
  height: 100%;
  transition: 0.5s;
}
.cgal-bg-f .col-lg-3 {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.cgal-bg-f .col-lg-3:hover img {
  transform: scale(1.1);
}
.cgal-bg-f .sfbox-f {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 8%;
  padding-left: 5%;
}
.cgal-bg-f a {
  text-decoration: none;
  color: #fff;
}
.cgal-bg-f h5,
.cgal-bg-f h4 {
  margin: 10px;
}
.main-zhutineirong {
  margin-top: 40px;
}
.main-zhutineirong .xdh {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: space-around;
}
.main-zhutineirong .xdh a {
  text-decoration: none;
  color: #333;
}
.main-zhutineirong .xdh a:hover {
  color: #666;
}
.main-zhutineirong .many-xfk {
  padding: 0;
  list-style: none;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-zhutineirong .many-xfk li {
  width: 30%;
  margin-bottom: 25px;
}
@media screen and (min-width: 770px) {
  .main-zhutineirong .many-xfk > li {
    width: 30%;
  }
}
@media screen and (min-width: 480px) and (max-width: 770px) {
  .main-zhutineirong .many-xfk > li {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .main-zhutineirong .many-xfk > li {
    width: 93.5%;
  }
}
.nr-tu {
  display: block;
  text-decoration: none;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.nr-tu .img-responsive {
  transition: 0.5s;
}
.nr-tu:hover img {
  transform: scale(1.1);
}
.nr-tu > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.3s;
}
.nr-tu > div div {
  width: 100%;
  margin: 28% auto;
}
.nr-tu > div div::before,
.nr-tu > div div::after {
  content: " ";
  transition: 0.5s;
  width: 30%;
  margin: 0 auto;
  display: block;
  height: 1px;
  background-color: #fff;
}
.nr-tu > div div p {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin: 0;
  line-height: 24px;
}
.nr-tu > div:hover {
  opacity: 1;
}
.nr-tu > div:hover div::before,
.nr-tu > div:hover div::after {
  transform: scale(0.1);
}
.main-zhutineirong .nr-ms {
  width: 100%;
  padding: 18px 18px 12px;
  border: 1px solid #ccc;
}
.main-zhutineirong .nr-ms > span {
  color: #666;
  font-size: 13px;
}
.main-zhutineirong .nr-ms h4 a {
  color: #333;
  text-decoration: none;
}
.main-zhutineirong .nr-ms .img {
  position: absolute;
  right: 0;
  top: 7px;
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url("../../../images/cgal_img/cgla/ico_08.png");
}
.main-zhutineirong .nr-ms hr {
  margin: 20px auto 8px;
}
.main-zhutineirong .nr-ms > a {
  line-height: 20px;
  display: block;
  position: relative;
  text-decoration: none;
  color: #666;
}
.main-zhutineirong .nr-ms > a:hover {
  color: #333;
}
.main-zhutineirong .nr-ms > a:hover .img {
  background-image: url("../../../images/cgal_img/cgla/ico_08_h.png");
}
#nr-load-more {
  width: 180px;
  height: 50px;
  margin-top: 50px;
  background-color: #ececec;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  color: #999;
  transition: 0.6s;
}
#nr-load-more:hover {
  background-color: #333;
  color: #fff;
}
.nr-hyzx {
  margin-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
}
.nr-hyzx .hyzx-l {
  float: left;
}
.nr-hyzx .hyzx-l p {
  height: 2px;
  width: 20px;
  background-color: #333;
  margin: 20px 0;
}
.nr-hyzx .hyzx-l span {
  color: #666;
  font-weight: 600;
}
.nr-hyzx .hyzx-r {
  width: 90px;
  padding-left: 19px;
  margin-top: 50px;
  float: right;
  text-decoration: none;
  color: #666;
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-image: url("../../../images/cgal_img/cgla/ico_09.png");
}
.nr-hyzx .hyzx-r:hover {
  color: #333;
}
.hyzx-lb {
  margin-top: 30px;
  list-style: none;
  padding: 5%;
  padding-bottom: 30px;
}
.hyzx-lb li {
  margin: 5%;
  display: inline-block;
}
.hyzx-lb li a {
  border: 1px solid #ccc;
  display: block;
  text-decoration: none;
  color: #333;
  padding: 12px;
}
.hyzx-lb li a h5 {
  font-size: 16px;
}
.hyzx-lb li a p {
  font-size: 12px;
  margin: 5% 0 8%;
}
.hyzx-lb li a span {
  display: block;
  width: 30px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url("../../../images/cgal_img/cgla/ico_08.png");
}
.pagination-lb span {
  width: 8px;
  height: 8px;
}
.hyzx-daping {
  margin-top: 30px;
  list-style: none;
  padding-bottom: 30px;
}
.hyzx-daping li {
  width: 30%;
  margin: 0.5%;
  display: inline-block;
}
.hyzx-daping li a {
  border: 1px solid #ccc;
  display: block;
  text-decoration: none;
  color: #333;
  padding: 12px;
}
.hyzx-daping li a h5 {
  font-size: 16px;
}
.hyzx-daping li a p {
  font-size: 12px;
  margin: 5% 0 8%;
}
.hyzx-daping li a span {
  display: block;
  width: 30px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url("../../../images/cgal_img/cgla/ico_08.png");
}
