@charset "utf-8";
body,
html,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

body,
html {
    color: #777;
}

.content {
    width: 100%;
    position: relative;
}

.banner {
    height: 550px;
    overflow: hidden;
}

.img {
    height: 100%;
    position: relative;
    margin: 0 0 0 -271px;
    /* opacity: 1; */
    top: 0;
}

.title {
    position: absolute;
    width: 79%;
    top: 50%;
    margin-top: -88px;
    left: 10.5%;
}

.title>h4 {
    font-size: 48px;
    line-height: 68px;
    color: #fff;
}

.title>.line {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin-top: 16px;
}


/* 新闻 */

.news {
    padding: 55px 0 180px;
}

.news-title>span {
    font-size: 30px;
    margin-right: 35px;
    font-family: "Base-font";
    line-height: 70px;
    margin-top: 10px;
}

.news-content {
    margin: 0 auto;
}

.search {
    margin-top: 25px;
    float: right;
}

.input {
    border: none;
    width: 205px;
    font-size: 12px;
    height: 13px;
    color: #999;
    line-height: 12px;
    padding: 12px 15px 11px;
    background-color: #e2e2e2;
}

.iconfont {
    /* vertical-align: middle; */
    /* display: block; */
    float: right;
    color: #fff;
    width: 40px;
    height: 36px;
    background: url("../../images/caseimg/ico_32.png") no-repeat center #8f8f8f;
}

.sign {
    margin-top: 42px;
    position: relative;
    width: 100%;
}

@media(max-width:1440px) {
    .news-content {
        width: 89%;
    }
}