@charset "utf-8";
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body,
html {
    color: #777;
    font-family: 黑体, "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    background-color: #eaeaea;
}

a {
    text-decoration: none;
}

.header {
    background: #fff;
    height: 100px;
}

.content {
    width: 100%;
    /* position: relative; */
}

.banner {
    height: 550px;
    overflow: hidden;
    position: relative;
}

.container-fluid {
    padding: 0!important;
    margin-left: 0;
    margin-right: 0;
}


/* .padding-l {
    padding-left: 0;
}

.padding-r {
    padding-right: 0;
} */

.item {
    margin-bottom: 20px;
}


/* .grid-sizer,
.grid-item {
    float: left;
    margin-bottom: 20px;
}

.grid-item>.container-fluid {
    padding: 0;
}

.grid-item img {
    width: 100%;
} */

.margin {
    margin-top: 42px;
}

.img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    /* height: auto; */
    position: relative;
    /* margin: 0 0 0 -271px; */
    /* opacity: 1; */
    top: 0;
}

.title {
    position: absolute;
    width: 79%;
    top: 50%;
    margin-top: -88px;
    left: 10.5%;
}

.title>h4 {
    font-size: 48px;
    line-height: 68px;
    color: #fff;
}

.title>.line {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin-top: 16px;
}


/* 新闻 */

.news {
    padding: 55px 0 180px;
    /* margin: 0 auto; */
}

.news-title>span {
    font-size: 30px;
    margin-right: 35px;
    font-family: "Base-font";
    line-height: 70px;
    margin-top: 10px;
}

.news-content {
    width: 79%;
    margin: 0 auto;
}

.search1 {
    margin-top: 25px;
    float: right;
}

.input {
    display: inline-block;
    border: none;
    width: 205px;
    font-size: 12px;
    /* height: 13px; */
    color: #999;
    line-height: 12px;
    padding: 12px 15px 11px;
    background-color: #e2e2e2;
}

.iconfont1 {
    /* vertical-align: middle; */
    /* display: block; */
    float: right;
    color: #fff;
    width: 40px;
    height: 36px;
    background: url("../../images/caseimg/ico_32.png") no-repeat center #8f8f8f;
}

.sign {
    margin-top: 42px;
    position: relative;
    width: 100%;
    height: 1390px;
    margin-left: 0;
    margin-right: 0;
    background-color: #eaeaea;
}

.box {
    /* width: 31.5%; */
    background-color: #fff;
    /* float: left; */
    /* padding: 0; */
}

.sign-a {
    display: block;
    width: 100%;
    overflow: hidden;
    transition: color 0.3s ease 0s;
}

.sign-a:hover img {
    transform: scale(1.05, 1.05);
}

.sign-a>img {
    width: 100%;
    transition: transform 0.6s ease 0s;
}

.far {
    padding-left: 32.78px;
}

.date {
    width: 100%;
    padding: 25px 7.3% 0;
    overflow: hidden;
}

.day {
    float: left;
    padding-right: 30px;
    border-right: 1px solid #ececec;
}

.ri {
    font-size: 50px;
    line-height: 50px;
    font-family: "Base-font";
    color: #333;
}

.month {
    line-height: 16px;
}

.dec {
    font-size: 16px;
    line-height: 28px;
}

.dec>a {
    color: #333;
    text-decoration: none;
}

.vid {
    font-size: 12px;
    line-height: 20px;
    padding: 3px 0;
}

.vid>a {
    color: #777;
    text-decoration: none;
}

.xq {
    float: left;
}

.details {
    width: 100%;
    float: left;
    border-top: 1px solid #e5e5e5;
    margin-top: 28px;
    line-height: 38px;
}

.detail-co {
    display: inline-block;
    font-size: 14px;
    color: #777;
}

.dec-icon {
    display: block;
    float: right;
    width: 24px;
    height: 38px;
    background-image: url("../../images/caseimg/ico_08.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.details:hover .detail-co {
    color: #333;
}

.details:hover .dec-icon {
    background-image: url("../../images/caseimg/ico_08_h.png");
}

.more-load {
    display: block;
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #999;
    background-color: #fff;
    font-size: 18px;
    margin: 100px auto 0;
    cursor: pointer;
}

.more-load:hover {
    background-color: #333;
    color: #fff;
}

.search1::after {
    display: block;
    /* height: 0; */
    clear: both;
    visibility: hidden;
    overflow: hidden;
    content: ".";
}


/* .col-xs-12 {
    padding;
} */


/* .margin {
    margin-top: 22px;
} */

@media(max-width:1550px) {
    .dec {
        margin-top: 20px;
    }
    .details {
        margin-top: 18px;
    }
}

@media(max-width:1440px) {
    .news-content {
        width: 89%;
    }
    /* .img {
        height: 100%;
    } */
}

@media(max-width:1050px) {
    .news {
        padding-bottom: 100px;
    }
}

@media(max-width:768px) {
    .banner {
        height: 300px;
    }
    .title>h4 {
        font-size: 32px;
        line-height: 60px;
    }
    .title>.line {
        height: 2px;
    }
    .news {
        padding-top: 45px;
    }
    .news-content {
        width: 90%;
    }
}

@media(max-width:480px) {
    .news-title {
        width: 100%;
    }
    .news-title>span {
        font-size: 22px;
        line-height: 56px;
    }
    .search1 {
        float: left;
    }
    .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }
}