html,
button,
input,
select,
textarea {
    font-family: "黑体", "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

body,
ul,
li,
ol,
dl,
dd,
dt,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none!important;
}

.boweb_body {
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
}


/* 2.banner */

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner img {
    /* width: 100%; */
    position: relative;
    height: auto;
    top: 0;
    vertical-align: middle;
    left: -50%;
    margin-left: 400px;
}

.banner_font {
    position: absolute;
    left: 6%;
    top: 50%;
    margin-top: -170px;
    color: #fff;
}

.banner_font .down_icon {
    opacity: 0;
}

.banner_font h4 {
    font-size: 42px;
    line-height: 80px;
    /* transform: translateY(0px);
    transition: 2s ease 0s; */
}

.banner_line {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin-top: 17px;
}

.banner_span {
    display: inline-block;
    font-size: 26px;
    margin-top: 32px;
    line-height: 40px;
}

.ani2 {
    animation-delay: 500ms;
}

.ani3 {
    animation-delay: 600ms;
}

.ani4 {
    animation-delay: 800ms;
}

.icon_circle {
    width: 43px;
    height: 43px;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: .4;
    margin-top: 60px;
    cursor: pointer;
    overflow: hidden;
}

.icon_circle i {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../../images/smart/ico_16.png) no-repeat center;
    position: relative;
}


/* 3.content */


/* 3.banner-menu  */


/* .cont_box {
    padding: 0;
} */

.content {
    width: 100%;
    margin: 0 auto;
    /* padding-top: 12px; */
}

.content .container-fluid {
    padding: 0;
}

.main_wrap {
    margin: 0 auto 90px;
    width: 100%;
    position: relative;
}

.cont_one,
.cont_three {
    background-color: #26272c;
    width: 100%;
    overflow: hidden;
}

.cont_one,
.cont_two,
.cont_three,
.cont_four {
    transform: translateY(30px);
    opacity: 0;
}

.show {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.cont_system img {
    width: 100%;
}

.title {
    font-size: 24px;
    line-height: 40px;
    color: #fff;
}

.small_title {
    font-size: 14px;
    line-height: 22px;
    color: #999;
}

.stit {
    display: block;
    line-height: 26px;
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
}

.line {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #9a9a9a;
    margin-top: 17px;
}

.word {
    display: block;
    line-height: 26px;
    font-size: 14px;
    margin-top: 24px;
    color: #999;
}

.cont_second {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
}

.cont_two ul,
.cont_four ul {
    background-color: #fff;
}

.shadow {
    margin-bottom: 20px;
}

.cont_second li {
    background-color: #fff;
}

.cont_second col-lg-6 {
    margin-right: 20px;
}

.ico {
    display: block;
    height: 66px;
}

.ico1 {
    background: url(../../images/smart/ico_48.png) no-repeat left top;
}

.ico2 {
    background: url(../../images/smart/ico_49.png) no-repeat left top;
}

.ico3 {
    background: url(../../images/smart/ico_50.png) no-repeat left top;
}

.ico4 {
    background: url(../../images/smart/ico_51.png) no-repeat left top;
}

.ico5 {
    background: url(../../images/smart/ico_52.png) no-repeat left top;
}

.ico6 {
    background: url(../../images/smart/ico_53.png) no-repeat left top;
}

.ico7 {
    background: url(../../images/smart/ico_54.png) no-repeat left top;
}

.ico8 {
    background: url(../../images/smart/ico_55.png) no-repeat left top;
}

.ico9 {
    background: url(../../images/smart/ico_56.png) no-repeat left top;
}

.ico10 {
    background: url(../../images/smart/ico_57.png) no-repeat left top;
}

.cont_sec_title {
    font-size: 20px;
    line-height: 32px;
    margin-top: 32px;
    color: #333;
    font-weight: bold;
    height: 64px;
    overflow: hidden;
}

.cont_sec_font {
    display: block;
    line-height: 24px;
    font-size: 14px;
    margin-top: 14px;
    height: 120px;
}

.cont_second li:hover .cont_sec_box {
    box-shadow: 0px 0px 20px 7px #efefef;
}

.cont_second li:hover .ico1 {
    background: url(../../images/smart/ico_48_h.png) no-repeat left top;
}

.cont_second li:hover .ico2 {
    background: url(../../images/smart/ico_49_h.png) no-repeat left top;
}

.cont_second li:hover .ico3 {
    background: url(../../images/smart/ico_50_h.png) no-repeat left top;
}

.cont_second li:hover .ico4 {
    background: url(../../images/smart/ico_51_h.png) no-repeat left top;
}

.cont_second li:hover .ico5 {
    background: url(../../images/smart/ico_52_h.png) no-repeat left top;
}

.cont_second li:hover .ico6 {
    background: url(../../images/smart/ico_53_h.png) no-repeat left top;
}

.cont_second li:hover .ico7 {
    background: url(../../images/smart/ico_54_h.png) no-repeat left top;
}

.cont_second li:hover .ico8 {
    background: url(../../images/smart/ico_55_h.png) no-repeat left top;
}

.cont_second li:hover .ico9 {
    background: url(../../images/smart/ico_56_h.png) no-repeat left top;
}

.cont_second li:hover .ico10 {
    background: url(../../images/smart/ico_57_h.png) no-repeat left top;
}

@media screen and (max-width: 767px) {
    .cont_box {
        padding: 0;
    }
    .content {
        padding: 0;
    }
    .banner img {
        min-height: 200px;
        left: -500px;
    }
    .title {
        font-size: 22px;
    }
    .cont_sec_box {
        padding: 30px 5%;
        min-height: 10px;
    }
    .ico {
        height: 40px;
        background-size: auto 100% !important;
    }
    .banner_font {
        margin-top: 0;
        top: 50px;
    }
    .banner_font h4 {
        line-height: 50px;
        font-size: 26px;
        margin-top: 0px;
    }
    .banner_line {
        width: 20px;
        height: 2px;
        margin-top: 5px;
    }
    .banner img {
        width: 600px;
        left: 50%;
        margin-left: -300px;
    }
    .banner_span {
        display: none;
    }
    .icon_circle {
        display: none;
    }
    .cont_left {
        /* width: 40.8%; */
        padding: 36px 3.8% 72px 3.4%;
        /* min-height: 240px; */
    }
    .cont_sec_box {
        width: 100%;
        padding: 30px 5%;
        min-height: 10px;
    }
}

@media screen and (min-width:768px) {
    .cont_box {
        padding: 0;
        width: 100%;
    }
    .content {
        padding: 0;
    }
    .cont_system {
        padding: 0;
    }
    .banner img {
        width: 100%;
    }
    .banner_font {
        margin-top: 0;
        top: 50px;
    }
    .banner_font h4 {
        line-height: 50px;
        font-size: 30px;
    }
    .banner_span {
        font-size: 28px;
    }
    .banner img {
        margin-left: 384px;
    }
    .cont_left {
        /* width: 40.8%; */
        padding: 36px 3.8% 72px 3.4%;
        /* min-height: 240px; */
    }
    .cont_sec_box {
        width: 100%;
        padding: 30px 5%;
        min-height: 10px;
    }
}

@media screen and (min-width:1200px) {
    .cont_box {
        width: 89%;
        margin: 0 auto;
    }
    .content {
        padding-top: 12px;
    }
    .banner img {
        width: 136%;
        position: relative;
        height: auto;
        top: 0;
        vertical-align: middle;
        left: -50%;
        margin-left: 400px;
    }
    .banner_font {
        top: 50%;
        margin-top: -170px;
    }
    .banner img {
        margin-left: 400px;
    }
    .cont_left {
        /* width: 40.8%; */
        padding: 70px 3.8% 30px 3.4%;
        /* min-height: 240px; */
    }
    .cont_sec_box {
        padding: 52px 21.7% 35px 16.3%;
    }
}