html,
button,
input,
select,
textarea {
    font-family: "黑体", "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

body,
ul,
li,
ol,
dl,
dd,
dt,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none!important;
}

.boweb_body {
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
}


/* 2.banner */

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.banner img {
    /* width: 100%; */
    position: relative;
    height: auto;
    top: 0;
    vertical-align: middle;
    left: -50%;
    margin-left: 400px;
}

.banner_font {
    position: absolute;
    left: 6%;
    top: 50%;
    margin-top: -170px;
    color: #fff;
}

.banner_font .down_icon {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateY(30px);
}

.banner_font h4 {
    font-size: 42px;
    line-height: 80px;
    transform: translateY(0px);
    transition: 2s ease 0s;
}

.banner_line {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin-top: 17px;
}

.banner_span {
    display: inline-block;
    font-size: 26px;
    margin-top: 32px;
    line-height: 40px;
}

.icon_circle {
    width: 43px;
    height: 43px;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: .4;
    margin-top: 60px;
    cursor: pointer;
    overflow: hidden;
}

.icon_circle i {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../../images/info/ico_16.png) no-repeat center;
    /* animation: downico 1.5s ease-out infinite; */
    position: relative;
}


/* 3.content */


/* 3.banner-menu  */

.cont_box {
    padding-top: 20px;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.content .container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}


/* .content {
    width: 100%;
    margin: 0 auto;
    padding-top: 12px;
} */

.cont_first {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    margin-bottom: 16px;
}

.fir_left {
    /* width: 48.2%; */
    padding-left: 5.7%;
    background-color: #fff;
    padding-top: 120px;
}

.fir_left h4 {
    /* line-height: 86px; */
    color: #333;
    /* font-size: 65px; */
    font-weight: 800;
}

.fir_ltit {
    font-size: 18px;
    line-height: 36px;
    color: #3e3c36;
}

.fir_lword {
    line-height: 28px;
    font-size: 14px;
    margin-top: 32px;
    color: #666;
}

.link_icon {
    margin-top: 70px;
}

.link_icon a {
    display: inline-block;
    border: 1px solid #aaa;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    float: left;
    margin-right: 24px;
    position: relative;
    overflow: hidden;
    background: transparent;
    text-decoration: none;
}

.link1 i {
    background: url(../../images/info/ico_07.png) no-repeat center;
}

.link2 i {
    background: url(../../images/info/ico_17.png) no-repeat center;
}

.link1:hover i {
    background: url(../../images/info/ico_07_h.png) no-repeat center;
}

.link2:hover i {
    background: url(../../images/info/ico_17_h.png) no-repeat center;
}

.link_icon .bg {
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transition: all 0.3s ease 0s;
    position: absolute;
    border-radius: 50%;
}

.link1:hover .bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
}

.link2:hover .bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
}

.link_icon i {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


/* 3.cont_right */

.fir_right {
    background-color: #333;
    /* width: 42.5%; */
}

.fir_rtit {
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.fir_rline {
    display: inline-block;
    width: 9px;
    height: 2px;
    background-color: #9a9a9a;
    margin-top: 18px;
}

.fir_rfont {
    display: block;
    line-height: 32px;
    font-size: 16px;
    color: #fff;
    opacity: 0.5;
    margin-top: 20px;
}

.fir_rnum {
    margin-top: 50px;
}

.fir_rnum li {
    padding-right: 30px;
    position: relative;
    text-align: center;
    float: left;
}

.fir_rnum .r_st {
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    opacity: 0.8;
}

.fir_rnum .r_snum {
    line-height: 68px;
    font-size: 36px;
    color: #fff;
    font-weight: 100;
    font-family: "Trump";
}

.fir_rnum .r_det {
    font-size: 12px;
    line-height: 24px;
    color: #fff;
    opacity: 0.4;
}

.cont_second {
    background-color: #fff;
    margin-bottom: 16px;
    overflow: hidden;
}

.sec_left {
    padding-left: 5.78%;
    padding-top: 40px;
}

.sec_ltit {
    line-height: 36px;
    font-size: 24px;
    color: #333;
}

.sec_line {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #999;
    margin-top: 20px;
}

.sec_lword {
    display: block;
    line-height: 28px;
    font-size: 14px;
    margin-top: 20px;
    color: #777;
}

.sec_lnum {
    font-weight: 200;
    color: #333;
    font-family: "Trump";
}

.sec_lfont {
    line-height: 24px;
    font-size: 14px;
    color: #777;
}


/* .sec_right{
    width: 70.2%;
} */

.cont_third {
    background-color: #fff;
    margin-bottom: 16px;
    overflow: hidden;
}

.thi_left,
.thi_right {
    width: 49.5%;
    position: relative;
}

.thi_left img,
.thi_right img {
    width: 100%;
}

.up_gray {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 140px;
    background: url(../../images/info/bg_11.png) no-repeat center;
}

.up_cont {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.3s ease 0s;
    z-index: 3;
}

.thi_tit {
    line-height: 34px;
    color: #fff;
}

.thi_font {
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=50);
}

.thi_left:hover .up_cont {
    bottom: 18px;
    opacity: 1;
}

.thi_right:hover .up_cont {
    bottom: 18px;
    opacity: 1;
}

.cont_fourth {
    background-color: #333;
    margin-bottom: 16px;
    overflow: hidden;
}


/* .fou_left{
    width: 70%;
} */

.fou_left img {
    width: 100%;
}

.fou_right {
    /* width: 19.7%; */
    margin-right: 5.2%;
    padding-top: 104px;
}

.fou_rtit {
    font-size: 24px;
    line-height: 40px;
    color: #fff;
}

.fou_rline {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #858585;
    margin-top: 25px;
}

.fou_rword {
    display: block;
    line-height: 28px;
    font-size: 14px;
    margin-top: 23px;
    color: #fff;
    opacity: 0.5;
}

.cont_fifth {
    background-color: #fff;
    margin-bottom: 16px;
    overflow: hidden;
}

.fif_left,
.fif_right {
    width: 49.5%;
    position: relative;
}

.fif_left img,
.fif_right img {
    width: 100%;
}

.up_gray {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 140px;
    background: url(../../images/info/bg_11.png) no-repeat center;
}

.up_cont {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.3s ease 0s;
    z-index: 3;
}

.fif_tit {
    line-height: 34px;
    color: #fff;
}

.fif_font {
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    opacity: 0.8;
    filter: alpha(opacity=50);
}

.fif_left:hover .up_cont {
    bottom: 18px;
    opacity: 1;
}

.fif_right:hover .up_cont {
    bottom: 18px;
    opacity: 1;
}

.cont_sixth {
    background-color: #fff;
    padding-top: 52px;
    padding-bottom: 90px;
}

.news_more {
    width: 88%;
    margin: 0 auto;
}

.tit-box {
    overflow: hidden;
}

.six_btit {
    font-size: 24px;
    line-height: 40px;
    color: #333;
}

.six_line {
    display: block;
    width: 9px;
    height: 2px;
    background-color: #9a9a9a;
    margin-top: 16px;
}

.read_more {
    display: inline-block;
    padding-left: 25px;
    font-size: 14px;
    color: #777;
    background: url(../../images/info/ico_09.png) no-repeat left center;
    line-height: 32px;
    margin-top: 6px;
}

.read_more:hover {
    color: #333;
}

.six_list {
    position: relative;
    overflow: hidden;
    padding-left: 5px;
    margin-left: -5px;
    margin-top: 66px;
}

.six_list ul {
    width: 102%;
    padding-bottom: 10px;
    overflow: hidden;
}

.six_list li {
    /* width: 31.3%; */
    /* margin-right: 2%; */
    transition: box-shadow 0.3s ease 0s;
}

.six_list .img {
    display: block;
    position: relative;
    overflow: hidden;
}

.bgimg {
    width: 100%;
}

.six_list li:hover .img img {
    transform: scale(1.05, 1.05);
    transition: transform 0.6s ease 0s;
}

.up-pic {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.six_list .img .up_gray {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.3s ease 0s;
}

.six_list li:hover .img .up_gray {
    opacity: 0.1;
}

.six_wrap {
    padding-top: 18px;
    padding-bottom: 10px;
    border: 1px solid #f8f8f8;
}

.cont {
    width: 90%;
    margin: 0 auto;
}

.six_tit {
    font-size: 18px;
    line-height: 30px;
}

.six_tit a {
    display: block;
    color: #1c1c1c;
    height: 30px;
    position: relative;
    overflow: hidden;
    padding-top: 3px;
    padding-bottom: 3px;
}

.six_word {
    display: block;
    line-height: 24px;
    font-size: 14px;
    margin-top: 4px;
    height: 85px;
}

.six_word a {
    color: #777;
}

.six_word a:hover {
    color: #333;
}

.bot-link {
    line-height: 46px;
    border-top: 1px solid #e5e5e5;
    display: block;
    width: 100%;
}

.bot-link:hover .more {
    color: #333;
}

.more {
    font-size: 14px;
    display: inline-block;
    font-family: "Base-font";
    color: #777;
}

.link_point {
    display: inline-block;
    width: 24px;
    height: 8px;
    background: url(../../images/info/ico_08.png) no-repeat center;
    margin-top: 18px;
}

.bot-link:hover .link_point {
    background: url(../../images/info/ico_08_h.png) no-repeat right center;
}

@media(max-width:768px) {
    .cont_box {
        padding: 0;
    }
    .fir_left {
        padding-bottom: 32px;
    }
    .fir_left h4 {
        font-size: 36px;
        line-height: 66px;
    }
    .fir_left .fir_ltit {
        line-height: 32px;
    }
    .fir_right {
        min-height: 10px;
        padding: 30px 5%;
        margin: 0 auto;
    }
    .fir_rnum {
        margin-top: 30px;
    }
    .fir_rnum li {
        margin-bottom: 24px;
    }
    .fir_rnum .r_snum {
        font-size: 30px;
        line-height: 58px;
    }
    .thi_tit,
    .fif_tit {
        font-size: 14px;
    }
    .sec_right,
    .fou_left {
        padding: 0;
    }
    .sec_right img {
        width: 100%;
    }
    .fou_right {
        padding: 30px 5%;
        margin: 0 auto;
    }
    .carousel {
        overflow: hidden;
    }
    .carousel-indicators li {
        border: 1px solid #777;
    }
    .active {
        background-color: #333;
    }
    .item {
        min-height: 440px;
        background-color: #fff;
    }
    .carousel-caption {
        text-shadow: none;
        text-align: left;
        left: 5%;
        right: 5%;
        top: 45%;
    }
    .six_tit a {
        overflow: visible;
    }
    .six_word {
        margin-top: 40px;
    }
}


/* @media screen and (max-width: 767px) {
    .cont_box {
        padding: 0;
    }
    .content {
        padding: 0;
    }
    .banner img {
        min-height: 200px;
        left: -500px;
    }
    .title {
        font-size: 22px;
    }
    .cont_sec_box {
        padding: 30px 5%;
        min-height: 10px;
    }
    .ico {
        height: 40px;
        background-size: auto 100% !important;
    }
    .banner_font {
        margin-top: 0;
        top: 50px;
    }
    .banner_font h4 {
        line-height: 50px;
        font-size: 26px;
        margin-top: 0px;
    }
    .banner_line {
        width: 20px;
        height: 2px;
        margin-top: 30px;
    }
    .banner img {
        width: 600px;
        left: 50%;
        margin-left: -300px;
    }
    .banner_span {
        display: none;
    }
    .icon_circle {
        display: none;
    }
    .cont_left {
        width: 40.8%;
        padding: 36px 3.8% 72px 3.4%;
        min-height: 240px;
    }
    .cont_sec_box {
        width: 100%;
        padding: 30px 5%;
        min-height: 10px;
    }
    .fir_left h4 {
        line-height: 66px;
        font-size: 32px;
    }
    .sec_lnum {
        font-size: 36px;
        font-weight: 200;
        margin-top: 32px;
        line-height: 62px;
    }
    .sec_left {
        padding-bottom: 20px;
    }
} */

@media screen and (min-width:768px) {
    .cont_box {
        padding: 0;
        width: 100%;
    }
    .content {
        padding: 0;
    }
    .cont_system {
        padding: 0;
    }
    .banner img {
        width: 100%;
    }
    .banner_font {
        margin-top: 0;
        top: 50px;
    }
    .banner_font h4 {
        line-height: 50px;
        font-size: 42px;
    }
    .banner_line {
        width: 40px;
        height: 4px;
        margin-top: 30px;
    }
    .banner_span {
        font-size: 28px;
    }
    .banner img {
        margin-left: 384px;
    }
    .cont_left {
        /* width: 40.8%; */
        padding: 36px 3.8% 72px 3.4%;
        /* min-height: 240px; */
    }
    .cont_sec_box {
        width: 100%;
        padding: 30px 5%;
        min-height: 10px;
    }
    .fir_left h4 {
        line-height: 66px;
        font-size: 32px;
    }
    .sec_lnum {
        font-size: 36px;
        line-height: 62px;
        margin-top: 32px;
    }
    .sec_left {
        padding-bottom: 30px;
    }
    .fir_left {
        padding-bottom: 32px;
    }
    .fir_left h4 {
        font-size: 36px;
        line-height: 66px;
    }
    .fir_left .fir_ltit {
        line-height: 32px;
    }
    .fir_right {
        min-height: 10px;
        padding: 30px 5%;
        margin: 0 auto;
    }
    .fir_rnum {
        margin-top: 30px;
    }
    .fir_rnum li {
        margin-bottom: 24px;
    }
    .fir_rnum .r_snum {
        font-size: 30px;
        line-height: 58px;
    }
    .thi_tit,
    .fif_tit {
        font-size: 14px;
    }
    .sec_right,
    .fou_left {
        padding: 0;
    }
    .sec_right img {
        width: 100%;
    }
    .fou_right {
        padding: 30px 5%;
        margin: 0 auto;
    }
    .carousel {
        overflow: hidden;
    }
    .carousel-indicators li {
        border: 1px solid #777;
    }
    .active {
        background-color: #333;
    }
    .item {
        min-height: 440px;
        background-color: #fff;
    }
    .carousel-caption {
        text-shadow: none;
        text-align: left;
        left: 5%;
        right: 5%;
        top: 45%;
    }
    .six_tit a {
        overflow: visible;
    }
    .six_word {
        margin-top: 40px;
    }
    .carousel {
        margin-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    .cont_box {
        padding: 0;
    }
    .content {
        padding: 0;
    }
    .banner img {
        min-height: 200px;
        left: -500px;
    }
    .title {
        font-size: 22px;
    }
    .cont_sec_box {
        padding: 30px 5%;
        min-height: 10px;
    }
    .ico {
        height: 40px;
        background-size: auto 100% !important;
    }
    .banner_font {
        margin-top: 0;
        top: 50px;
    }
    .banner_font h4 {
        line-height: 50px;
        font-size: 26px;
        margin-top: 0px;
    }
    .banner_line {
        width: 20px;
        height: 2px;
        margin-top: 30px;
    }
    .banner img {
        width: 600px;
        left: 50%;
        margin-left: -300px;
    }
    .banner_span {
        display: none;
    }
    .icon_circle {
        display: none;
    }
    .cont_left {
        /* width: 40.8%; */
        padding: 36px 3.8% 72px 3.4%;
        /* min-height: 240px; */
    }
    .cont_sec_box {
        width: 100%;
        padding: 30px 5%;
        min-height: 10px;
    }
    .fir_left h4 {
        line-height: 66px;
        font-size: 32px;
    }
    .fir_rnum .r_snum {
        font-size: 22px;
        line-height: 58px;
    }
    .sec_lnum {
        font-size: 36px;
        font-weight: 200;
        margin-top: 32px;
        line-height: 62px;
    }
    .sec_left {
        padding-bottom: 20px;
    }
    .carousel {
        margin-top: 40px;
    }
}

@media screen and (min-width:1200px) {
    .cont_box {
        width: 89%;
        margin: 0 auto;
    }
    .content {
        padding-top: 12px;
    }
    .banner img {
        width: 136%;
        position: relative;
        height: auto;
        top: 0;
        vertical-align: middle;
        left: -50%;
        margin-left: 400px;
    }
    .banner_font {
        top: 50%;
        margin-top: -170px;
    }
    .banner img {
        margin-left: 400px;
    }
    .cont_left {
        /* width: 40.8%; */
        padding: 70px 3.8% 30px 3.4%;
        /* min-height: 240px; */
    }
    .cont_sec_box {
        padding: 52px 21.7% 35px 16.3%;
    }
    .fir_left h4 {
        line-height: 86px;
        font-size: 65px;
    }
    .sec_lnum {
        font-size: 50px;
        line-height: 62px;
        margin-top: 52px;
    }
    .sec_right img {
        vertical-align: middle;
        width: 100%;
    }
    .fir_right {
        padding: 140px 1.5% 0 5%;
        min-height: 710px;
        height: auto;
    }
    .thi_tit,
    .fif_tit {
        font-size: 20px;
    }
    .fou_left {
        padding: 0;
    }
}