html,
button,
input,
select,
textarea {
    font-family: "黑体", "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

body,
ul,
li,
ol,
dl,
dd,
dt,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none!important;
}

.boweb_body {
    width: 100%;
    height: auto;
    background-color: #eaeaea;
    overflow: hidden;
}


/* 2.banner */

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.banner img {
    position: relative;
    height: auto;
    top: 0;
    vertical-align: middle;
    left: -50%;
}

.banner_font {
    position: absolute;
    left: 6%;
    color: #fff;
}

.banner_font .down_icon {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateY(30px);
}

.banner_font h4 {
    font-size: 42px;
    line-height: 80px;
    transform: translateY(0px);
    transition: 2s ease 0s;
}

.banner_line {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin-top: 36px;
}

.banner_span {
    display: inline-block;
    font-size: 26px;
    margin-top: 32px;
    line-height: 40px;
}

.ani2 {
    animation-delay: 500ms;
}

.ani3 {
    animation-delay: 600ms;
}

.ani4 {
    animation-delay: 800ms;
}

.icon_circle {
    width: 43px;
    height: 43px;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: .4;
    margin-top: 60px;
    cursor: pointer;
    overflow: hidden;
}

.icon_circle i {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../../images/info/ico_16.png) no-repeat center;
    position: relative;
}


/* 3.content */


/* 3.banner-menu  */

.content {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
}

.row {
    margin: 0!important;
}

.main_wrap {
    margin: 0 auto 90px!important;
    position: relative;
}

.share_icon {
    position: absolute;
    right: 0;
    margin-top: 14px;
    cursor: pointer;
}

.cont_menu h3 {
    padding-top: 60px;
    line-height: 40px;
    font-size: 26px;
}

.cont_menu_select {
    margin-top: 22px;
    font-size: 14px;
    line-height: 34px;
}

.cont_menu_sel {
    margin-right: 35px;
}

.cont_menu_select ul li {
    padding: 0 9px;
    margin-right: 50px;
}

.cont_menu_select ul .hover {
    border-bottom: 2px solid #000;
}

.cont_menu_select ul .hover a {
    color: #333;
}

.cont_menu_select ul .hover a:hover {
    color: #333;
}

.cont_menu_select ul li a {
    color: #666;
}

.cont_menu_select ul li a:hover {
    color: #888;
}


/* 3.content-video */

.cont_video {
    margin-top: 54px!important;
    position: relative;
}

.border {
    margin-bottom: 30px;
    margin-right: 1.7%;
    padding: 0;
    border: 1px solid #f2f2f2;
}

.cont_img_box {
    display: block;
    width: 100%!important;
    position: relative;
    transform: scale(1);
    overflow: hidden;
    transition: all 0.8s;
}

.cont_img {
    width: 100%!important;
    transition: all 0.8s;
}

.cont_video_play {
    background: url(../../images/video/ico_31.png) no-repeat center;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    transform: scale(1);
    transition: all 0.8s;
}

.cont_img_box:hover .cont_img,
.cont_img_box:hover .cont_video_play {
    transform: scale(1.05);
}

.cont_img_detail {
    width: 100%;
    padding-bottom: 7px;
    padding: 22px 6.5% 7px 6.5%;
}

.cont_img_name {
    font-size: 18px;
    line-height: 30px;
    /* position: relative; */
}

.cont_img_name a {
    color: #333;
}

.cont_img_name a:hover {
    color: #333!important;
    cursor: auto;
}

.cont_img_date {
    display: block;
    line-height: 24px;
    font-size: 12px;
    color: #777;
}

.cont_img_btm {
    margin-top: 28px;
    border-top: 1px solid #e5e5e5;
    line-height: 36px;
}

.cont_img_btm a {
    color: #777;
}

.cont_btm_arrow {
    background: url(../../images/video/ico_08.png) no-repeat center;
    display: inline-block;
    width: 24px;
    height: 36px;
}

.cont_img_btm:hover a {
    color: #333;
}

.cont_img_btm:hover .cont_btm_arrow {
    background: url(../../images/video/ico_08_h.png) no-repeat center;
}


/* 3.content-load */

.content_load {
    width: 180px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    margin: 30px auto 0;
    cursor: pointer;
    font-family: "Base-font";
    color: #999;
    background-color: #eee;
    margin-bottom: 90px;
}

.content_load:hover {
    background-color: #333;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .header {
        height: 60px;
    }
    .cont_box {
        padding: 0!important;
    }
    .border {
        width: 100%;
        overflow: hidden;
        padding: 0!important;
    }
    .cont_menu_select ul li {
        padding: 0;
        margin-right: 32px;
    }
    .cont_menu h3 {
        font-size: 22px;
        line-height: 32px;
    }
    .banner_font {
        margin-top: 0;
        top: 50%;
        margin-top: -224px;
    }
    .banner_font h4 {
        line-height: 50px;
        font-size: 26px;
        margin-top: 0px;
    }
    .banner_line {
        width: 20px;
        height: 2px;
        margin-top: 5px;
    }
    .banner img {
        width: 600px;
        left: 50%;
        margin-left: -300px;
    }
    .banner_span {
        display: none;
    }
    .icon_circle {
        display: none;
    }
    .cont_img {
        width: 100%;
    }
    .main_wrap {
        width: 100%;
    }
}

@media screen and (min-width:1200px) {
    .cont_box {
        padding: 0;
    }
    .content .container-fluid {
        padding: 0;
    }
    .cont_menu h3 {
        font-size: 26px;
        line-height: 42px;
    }
    .banner img {
        width: 100%;
    }
    .banner_font {
        margin-top: 0;
        top: 50px;
    }
    .banner_font h4 {
        line-height: 50px;
        font-size: 42px;
    }
    .banner_span {
        font-size: 28px;
    }
    .cont_video ul {
        width: 105%;
        overflow: hidden;
    }
    .border {
        width: 45%;
        margin-right: 5%;
    }
    .banner img {
        margin-left: 384px;
    }
    .header {
        height: 100px;
    }
    .cont_video ul {
        width: 101.7%;
        overflow: hidden;
    }
    .border {
        padding: 0!important;
        width: 31.6%!important;
        margin-right: 1.7%;
    }
    .banner img {
        width: 136%;
        position: relative;
        height: auto;
        top: 0;
        vertical-align: middle;
        left: -50%;
        margin-left: 400px;
    }
    .banner_font {
        top: 50%;
        margin-top: -170px;
    }
    .main_wrap {
        width: 93.4%;
    }
}