html,
button,
input,
select,
textarea {
    font-family: "黑体", "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

body,
ul,
li,
ol,
dl,
dd,
dt,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none!important;
}

.boweb_body {
    width: 100%;
    height: auto;
    background-color: #eaeaea;
}


/* 2.banner */

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.banner img {
    /* width: 100%; */
    position: relative;
    height: auto;
    top: 0;
    vertical-align: middle;
    left: -50%;
    margin-left: 400px;
}

.banner_font {
    position: absolute;
    left: 6%;
    top: 50%;
    margin-top: -170px;
    color: #fff;
}

.banner_font .down_icon {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateY(30px);
}

.banner_font h4 {
    font-size: 42px;
    line-height: 80px;
    transform: translateY(0px);
    transition: 2s ease 0s;
}

.banner_line {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin-top: 17px;
}

.banner_span {
    display: inline-block;
    font-size: 26px;
    margin-top: 32px;
    line-height: 40px;
}


/* 3.content */


/* 3.banner-menu  */

.cont_box {
    padding-top: 20px;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.content .container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.cont_first {
    background-color: #f5f5f5;
    width: 100%;
    overflow: hidden;
    margin-bottom: 16px;
}

.fir_left {
    background-color: #fff;
    padding: 94px 15.5% 85px 5.5%;
}

.fir_ltit {
    font-size: 26px;
    line-height: 46px;
    color: #333;
    margin-left: -1px;
}

.fir_line {
    display: block;
    width: 10px;
    height: 2px;
    background-color: #9a9a9a;
    margin-top: 10px;
}

.fir_lcont {
    display: block;
    line-height: 24px;
    font-size: 13px;
    margin-top: 10px;
    color: #777;
}

.fir_date {
    line-height: 32px;
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.link_icon {
    margin-top: 70px;
    position: relative;
}

.link_icon a {
    display: inline-block;
    border: 1px solid #aaa;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    float: left;
    margin-right: 24px;
    position: relative;
    overflow: hidden;
    background: transparent;
    text-decoration: none;
}

.link1 i {
    background: url(../../images/vr/detail/ico_07.png) no-repeat center;
}

.link2 i {
    background: url(../../images/vr/detail/ico_17.png) no-repeat center;
}

.link1:hover i {
    background: url(../../images/vr/detail/ico_07_h.png) no-repeat center;
    z-index: 2;
}

.link2:hover i {
    background: url(../../images/vr/detail/ico_17_h.png) no-repeat center;
    z-index: 2;
}

.link_icon .bg {
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transition: all 0.3s ease 0s;
    position: absolute;
    border-radius: 50%;
}

.link1:hover .bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
}

.link2:hover .bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
}

.link_icon i {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


/* 3.cont_right */

.fir_right {
    padding: 95px 7.7% 0 6.8%;
}

.fir_rtit {
    font-size: 40px;
    line-height: 50px;
    color: #333;
    font-weight: bold;
    font-family: "Base-font";
}

.fir_rfont {
    display: block;
    margin-top: 38px;
    padding-left: 20px;
    line-height: 30px;
    font-size: 14px;
    background: url(../../images/vr/detail/ico_27.png) no-repeat 3px center;
}

.cont_piclist div img {
    width: 100%;
}

.cont_first,
.cont_piclist {
    transform: translateY(30px);
    opacity: 0;
}

.show {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s ease 0s;
}

@media(max-width:768px) {
    .cont_box {
        padding: 0;
    }
    .content {
        padding: 0;
    }
    .banner img {
        min-height: 200px;
        left: -500px;
    }
    .banner_font {
        margin-top: -296px;
        top: 50%;
    }
    .banner_font h4 {
        line-height: 50px;
        font-size: 26px;
        margin-top: 0px;
    }
    .banner_line {
        width: 20px;
        height: 2px;
        margin-top: 30px;
    }
    .banner img {
        width: 600px;
        left: 50%;
        margin-left: -300px;
    }
    .banner_span {
        display: none;
    }
    .cont_left {
        /* width: 40.8%; */
        padding: 36px 3.8% 72px 3.4%;
        /* min-height: 240px; */
    }
    .fir_left,
    .fir_right {
        padding: 40px 5%;
    }
    .fir_left ltit {
        line-height: 66px;
        font-size: 32px;
    }
    .carousel {
        margin-top: 40px;
    }
}

@media screen and (min-width:1200px) {
    .cont_box {
        width: 89%;
        margin: 0 auto;
    }
    .content {
        padding-top: 12px;
    }
    .banner img {
        width: 136%;
        position: relative;
        height: auto;
        top: 0;
        vertical-align: middle;
        left: -50%;
        margin-left: 400px;
    }
    .banner_font {
        top: 50%;
        margin-top: -170px;
    }
    .banner img {
        margin-left: 400px;
    }
    .cont_left {
        padding: 70px 3.8% 30px 3.4%;
        /* min-height: 240px; */
    }
    .cont_sec_box {
        padding: 52px 21.7% 35px 16.3%;
    }
    .fir_ltit {
        font-size: 26px;
        line-height: 46px;
        color: #333;
        margin-left: -1px;
    }
    .fir_line {
        display: block;
        width: 10px;
        height: 2px;
        background-color: #9a9a9a;
        margin-top: 10px;
    }
    .fir_lcont {
        display: block;
        line-height: 24px;
        font-size: 13px;
        margin-top: 10px;
        color: #777;
    }
    .fir_date {
        line-height: 32px;
        font-size: 14px;
        color: #666;
        margin-top: 10px;
    }
}