@charset "utf-8";

/*右侧菜单样式*/

.hidden-xs {
    width: 200px;
    position: fixed;
    right: -125px;
    top: 190px;
}

.hidden-xs>a {
    display: block;
    /* position: absolute; */
    height: 57px;
    width: 90px;
    background-color: #f16202;
    margin: 2px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding-right: 10px;
    transition: 0.5s;
    text-decoration: none;
}

.hidden-xs>a:hover {
    margin-left: -10px;
}

.hidden-xs>a .iconfont {
    font-size: 24px;
}

.hidden-xs>a>div {
    display: inline-block;
}

.hidden-xs>.phone {
    width: 200px;
    margin-right: -110px;
}

.hidden-xs>.phone strong {
    position: relative;
    font-size: 16px;
    top: -15px;
}

.hidden-xs>.phone:hover {
    margin-left: -120px;
}

.hidden-xs>.phone .left {
    margin-right: 10px;
    display: inline-block;
    vertical-align: center;
}

.hidden-xs>a:last-child span {
    border-radius: 50%;
    border: 2px solid #fff;
    display: inline-block;
    padding: 0 3px;
    margin-top: 4px;
}

.hidden-xs>a:last-child .iconfont {
    font-size: 14px;
}


/* 底部橘黄菜单 屏幕小于xs时出现 */

.menu-footer {
    background-color: #f16202;
}

.menu-footer .row {
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-footer a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.menu-footer a p {
    margin-bottom: 0;
}